.container {
  
}

.container {
  flex: column;
}

a, a:visited, a:hover, a:active {
    color: rgb(51, 51, 255);
    text-decoration: none;
}

h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 60px;
  padding-top: 40px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

h1.retroshadow {
    color: #ffffff;
    background-color: #1E1B3A;
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px #bdbdbd, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
  }

html, body {
  background-color: #1E1B3A;
  color: white
  flexbox: column;
}

#controller {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: black
}

#controller td, #controller th {
  border: 1px solid #ddd;
  padding: 8px;
}

#controller tr:nth-child(even){background-color: #f2f2f2;}
#controller tr:nth-child(odd){background-color: #c1c1c1;}

#controller tr:hover {background-color: #ddd;}

#controller th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(40, 70, 244);
  color: white;
}

center {
    height: 100%;
}
  
center.centerDiv {
    margin: 0;
    display: flex;
  
    /* This centers our sketch horizontally. */
    justify-content: center;
  
    /* This centers our sketch vertically. */
    align-items: center;
}
