body {
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: blanchedalmond;
  align-items: center;
}  

.signature {
  display: inline-block;
  background-color: aquamarine;
}

.canvas {
}